/*Start Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px
}
p {
    color: #888;
    padding-top: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

[data-them="dark"]:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --white-color: white;
    --f6-color: #f6f6f6;
    --body-color:#f1f5f9;
    --section-color:#eeeeee;
    --d777-color: rgba(34, 32, 32, 0.271);
    --eee-color: rgb(167, 167, 167);
    --main-transation: .3s;
    --main-shdow:2px 2px 2px rgba(0,0,0,.1)
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--body-color)
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--f6-color);
}

::-webkit-scrollbar-thumb {
    background-color: #0075ff;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr
}

@media (max-width:768px) {
    .container {
        display: grid;
        grid-template-columns: 60px 1fr
    }
}

.main-title {
    font-size: 32px;
    padding: 0 20px;
    max-width: 250px;
    position: relative
}

.main-title::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var(--white-color);
    bottom: -10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    left: 8%;
}
.main-title::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: black;
    bottom: -10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    left: 8%;
}
.box {
    min-height: 400px;
    padding: 30px;
    box-shadow: var(--main-shdow);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: var(--white-color);
}
.content {
    padding: 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    gap: 20px;
}
@media (max-width:550px) {
    .content { 
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        flex: 1;
        padding: 5px
    }
}
input,textarea {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 5px;
}

input::placeholder {
    color: var(--grey-color);
    font-size: 13px;
}
.main-text h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
.f {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*End Global*/
/*#####################################################################
######################### Start Header ################################
#######################################################################*/
.container section header {
    height: 70px;
    background-color: var(--white-color)
}
.container section header nav {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 0 15px;
    position: relative
}
.info>img {
    width: 32px;
    height: 32px;
}
.info>i {
    position: relative;
    padding-right: 8px;
    font-size: 20px;
}

.info i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    top: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: move 2s infinite linear;
    -webkit-animation: move 2s infinite linear ;
}
@keyframes move {
    0% {
        outline: 0px solid rgba(245, 129, 129,.8);
    }
    100% {
        outline: 10px solid rgba(245, 129, 129,.1);
    }
}
.info>img {
    margin-left: 5px;
}
.search>input {
    width: 140px;
    background-color: transparent;
    padding: 8px 0 10px 20px;
    transition: var(--main-transation);
    -webkit-transition: var(--main-transation);
    -moz-transition: var(--main-transation);
    -ms-transition: var(--main-transation);
    -o-transition: var(--main-transation)
}
.search>input:focus {
    width: 180px
}
.search {
    position: relative;
    padding-left: 15px;
    width: fit-content;
    border: 1px solid var(--d777-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px
}
.search>i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--eee-color)
}
/*#####################################################################
######################### End Header ################################
#######################################################################*/
/*#####################################################################
######################### Start Sidbar ################################
#######################################################################*/
.sidbar {
    background-color: var(--white-color);
    box-shadow: 2px 2px 2px rgba(34, 32, 32, 0.171);
    text-align: center;
    padding: 20px;
    z-index: 99;
    max-width: 200px
}
.sidbar h1 {
    font-size: 20px;
    position: relative;
    padding-bottom: 15px
}
.sidbar h1::before {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}
.sidbar h1::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    bottom: -10px;
    border: 5px solid var(--white-color);
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}
@media (max-width:768px) {
    .sidbar h1 {
        font-size: 13px
    }
    .sidbar h1::before,
    .sidbar h1::after {
        display: none
    }
}
.dashboard {
    background-color: var(--f6-color);
    padding: 13px 0 13px 13px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: flex-start;
    margin-top: 30px
}
.dashboard i {
    margin-right: 10px
}
.sidbar ul {
    text-align: start;
    margin-top: 15px
}
.sidbar ul li {
    padding: 15px;
    transition: var(--main-transation);
    -webkit-transition: var(--main-transation);
    -moz-transition: var(--main-transation);
    -ms-transition: var(--main-transation);
    -o-transition: var(--main-transation)
}
.sidbar ul >li:hover {
    background-color: var(--f6-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px
}
.sidbar ul li .span {
    font-size: 14px;
    margin-left: 10px
}
.sidbar ul li>i {
    margin-right: 10px;
    cursor: pointer
}
@media (max-width:768px) {
    li>.span {
        display: none
    }
.sidbar {
    text-align: center;
    padding: 0
}
    .dashboard>a.span {
        display: none
    }
}

/*#####################################################################
######################### End Sidbar ################################
#######################################################################*/
/*#####################################################################
######################### Start Welcome ################################
#######################################################################*/
.welcome {
    background-color: var(--white-color);
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
}
.head {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 25px;
    background-color: var(--section-color);
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px
}

.head h3 {
    font-size: 22px;
}
.head > img {
    max-width: 200px;
}
.profile {
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}
.profile .img {
    text-align: start;
    width: 100%;
    height: 60px;
    position: relative;
    padding-left: 30px;
    border: 1px solid var(--section-color)
}
.profile .img >img {
    width: 60px;
    border: 6px solid var(--f6-color);
    outline: 1px solid var(--white-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -30px;
}
.profile ul {
    justify-content: space-between;
    width: 100%;
    padding:20px 50px;
    border: 1px solid var(--section-color);
}
.profile .pro {
    width: 100%;
    padding: 25px;
    text-align: end;
}
.pro a {
    background-color: var(--blue-alt-color);
    padding: 10px;
    color: var(--white-color);
    border-radius: 8px 10px;
    -webkit-border-radius: 8px 10px;
    -moz-border-radius: 8px 10px;
    -ms-border-radius: 8px 10px;
    -o-border-radius: 8px 10px;
}
.pro a:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width:768px) {
    .head > img{
        display: none;
    }
    .profile .img {
        text-align: center;
        padding: 0;
    }
.profile ul {
    flex-direction: column;
    text-align: center;
    padding-right: 0;
}
.profile ul li{
    margin-bottom: 15px;
}
}
/*#####################################################################
######################### End Welcome ################################
#######################################################################*/
/*#####################################################################
######################### Start Quick Draft ################################
#######################################################################*/
.quick-draft form {
    flex-direction: column;
    align-items: flex-end;
}
.quick-draft form textarea {
    resize: none;
}
.quick-draft form input:not(:last-child),
.quick-draft form textarea
{
    width: 100%;
    background-color:var(--f6-color);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.quick-draft form input:not(:last-child)::placeholder,
.quick-draft form textarea::placeholder {
    font-size: 12px;
}
.quick-draft form input:last-child {
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--blue-color);
    color: var(--white-color);
}
.quick-draft form input:last-child:hover {
    background-color: var(--blue-alt-color);
}
/*#####################################################################
######################### End Quick Draft ################################
#######################################################################*/
/*#####################################################################
######################### Start Yearly Targets ################################
#######################################################################*/
.icon-image {
    width: 100px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}
.yearly-target ul{
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 10px;
    height: 300px;
}
.yearly-target ul li {
    display: block;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.yearly-target ul .progres {
    width: 100%;
    height: 4px;
    background-color: var(--eee-color);
    position: relative;
}
ul .progres span {
    position: absolute;
    background-color: var(--blue-color);
    left: 0;
    height: 4px;
}
ul .progres span::before {
    content: attr(data-prog);
    position: absolute;
    top: -30px;
    right: -20px;
    background-color: #0075ff;
    width: 40px;
    height: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 15px;
}
ul .progres span::after {
    content: "";
    position: absolute;
    right: -5px;
    top: -10px;
    border: 5px solid;
    border-color: #0075ff transparent transparent transparent;
}
ul li:nth-child(2) span,
ul li:nth-child(2) span::before
 {
    background-color:var(--orange-color) ;
}
ul li:nth-child(2) span::after {
    border-color:var(--orange-color)  transparent transparent transparent;
}
ul li:nth-child(3) span,
ul li:nth-child(3) span::before {
    background-color:var(--green-color) ;
}
ul li:nth-child(3) span::after {
    border-color:var(--green-color)  transparent transparent transparent;

}
.icon-image i {
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-top: 15px;
}
.icon-image i:first-child {
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-alt-color);
}
.icon-image i:nth-child(2) {
    background-color: rgb(245 158 11 / 20%);
    color: var(--orange-color);
}
.icon-image i:last-child {
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}
/*#####################################################################
######################### End Yearly Targets ###########################
#######################################################################*/
/*#####################################################################
######################### Start Tickets Statistics #######################
#######################################################################*/
.parent-tickets {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.tickets-box {
    min-width: 350px;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--eee-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.tickets-box h4 {
    font-size: 33px;
}
.tickets-box i {
    margin-bottom: 15px;
}
.tickets-box:first-of-type i {
    color: var(--orange-color);
}
.tickets-box:nth-of-type(2) i {
    color: var(--blue-color);
}
.tickets-box:nth-of-type(3) i {
    color: var(--green-color);
}
.tickets-box:last-of-type i {
    color: var(--red-color);
}
@media (min-width:1150px) {
    .tickets-box {
        min-width: 200px;
    }
    
}
@media (max-width:500px) {
    .tickets-box {
        min-width: 200px;
    }
    
}
/*#####################################################################
######################### End Tickets Statistics #######################
#######################################################################*/
/*#####################################################################
######################### Start Latest News #######################
#######################################################################*/

.news-box {
    justify-content: space-between;
    margin: 30px 0;
    padding-bottom: 10px;
}
.news-box:not(:last-child) {
    border-bottom: 1px solid var(--f6-color);
}
.news-box img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.news-box span {
    padding: 7px;
    font-size: 14px;
    background-color: var(--f6-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width:767px) {
    .news-box {
        flex-direction: column;
        text-align: center;
    }
}
/*#####################################################################
######################### End Latest News #######################
#######################################################################*/
/*#####################################################################
######################### Start Latest Tsks #######################
#######################################################################*/
.task {
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.task  h3 {
    font-size: 16px;
}
.task:nth-of-type(5) {
    opacity: .4;
}
.task:nth-of-type(5) h3,
.task:nth-of-type(5) p {
    text-decoration-line: line-through;
    -moz-text-decoration-line: line-through;
}
.task:not(:last-child) {
    border-bottom: 1px solid var(--f6-color);
}
.task i:hover {
    color: var(--red-color);
    cursor: pointer;
}
/*#####################################################################
######################### End Latest Tsks #######################
#######################################################################*/
/*#####################################################################
######################### Start Top Search  #######################
#######################################################################*/
.keyword {
    justify-content: space-between;
    margin: 15px 0;
}
.srarch-box {
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.srarch-box h3 {
    font-size: 15px;
    font-weight: 400;
}
.srarch-box span {
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 400;
    background-color: var(--f6-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*#####################################################################
######################### End Top Search  #######################
#######################################################################*/
/*#####################################################################
######################### Start Latest Upload  #######################
#######################################################################*/
.upload-box {
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.upload-box:not(:last-child) {
    border-bottom: 1px solid var(--f6-color);
}
.file-upload img {
    width: 45px;
    margin-right: 10px;
}
.file-upload h3 {
    font-size: 15px;
}
.upload-box span {
    padding: 10px;
    background-color: var(--f6-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*#####################################################################
######################### End Latest Upload  #######################
#######################################################################*/
/*#####################################################################
######################### Start Project Progress  #######################
#######################################################################*/
.last-project-progress {
    position: relative;
}
.last-project-progress img{
    position: absolute;
    right: 10px;
    bottom: 15px;
    opacity: .17;
    max-width: 200px;
}
@media (max-width:767px) {
    .last-project-progress img {
        display: none;
    }
}
.project-step {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 35px;
    margin-left: 30px;
    padding-left: 30px;
    position: relative;
}
.project-step::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--blue-color);
    top: 50%;
    left: -15px;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--white-color);
    outline: 2px solid var(--blue-alt-color);
}
.project-step:last-of-type::before {
    background-color: var(--white-color);
}
.project-step:nth-of-type(5)::before{
    animation: changeBG 1.2s infinite linear;
    -webkit-animation: changeBG 1.2s infinite linear;
}
.project-step:not(:last-of-type)::after {
    content: '';
    position: absolute;
    width: 3px;
    left: -4px;
    bottom: -36px;
    height: 34px;
    background-color: var(--blue-color);
}
@media (max-width:767px) {
    .project-step {
    font-size: 14px;
    }
    .project-step:not(:last-of-type)::after {
        height: 32px;
    }
    .project-step:last-of-type::before {
        border-width: 3px;
    }
}
@keyframes changeBG {
    0% {
        background-color: var(--white-color);
    }
    100%{
        background-color: var(--blue-color);
    }
}
/*#####################################################################
######################### End Project Progress  #######################
#######################################################################*/
/*#####################################################################
######################### Start Remeinders  #######################
#######################################################################*/
.box-reminder {
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
}
.box-reminder p {
    font-size: small;
}
.box-reminder::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--blue-alt-color);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.box-reminder::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--blue-alt-color);
}
.box-reminder.col-1::before,
.box-reminder.col-1::after {
    background-color: var(--green-color);
}
.box-reminder.col-2::before,
.box-reminder.col-2::after {
    background-color: var(--orange-color);
}
.box-reminder.col-3::before,
.box-reminder.col-3::after {
    background-color: var(--red-color);
}
/*#####################################################################
######################### End Remeinders  #######################
#######################################################################*/
/*#####################################################################
######################### Start Latest Post  #######################
#######################################################################*/
.post-info{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.post-img {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--f6-color);
    width: 100%;
    justify-content: flex-start;
}
.post-img img {
    margin-right: 20px;
}
.post-info > p {
line-height: 1.7;
letter-spacing: 1px;
margin-bottom: 25px;
color: black;
}
.post-likes {
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    color: var(--eee-color);
    border-top: 1px solid var(--f6-color);
}
/*#####################################################################
######################### End Latest Post  #######################
#######################################################################*/
/*#####################################################################
######################### Start Social Media  #######################
#######################################################################*/
.social {
    width: 100%;
    height: 56px;
    background-color: rgb(29 161 242 / 20%);
    justify-content: space-between;
    margin-bottom: 10px;
    padding-right: 10px;
}
.image-social i{
    background-color: #1da1f2;
    width: 52px;
    height: 56px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    margin-right: 20px;
    color: var(--white-color);
    transition: var(--main-transation);
    -webkit-transition: var(--main-transation);
    -moz-transition: var(--main-transation);
    -ms-transition: var(--main-transation);
    -o-transition: var(--main-transation);
}
.image-social i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);

}
.image-social p {
    color: var(--blue-alt-color);
}
.social a {
    padding: 7px;
    color: var(--white-color);
    background-color: #1da1f2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.social:nth-of-type(4) {
    background-color: rgb(255 0 0 / 20%);
}
.social:nth-of-type(3)>a,
.social:nth-of-type(3) .image-social>i{
    background-color:#1877f2;
}
.social:nth-of-type(4)>a,
.social:nth-of-type(4) .image-social>i{
    background-color:#ff0000;
}
.social:nth-of-type(5)>a,
.social:nth-of-type(5) .image-social>i{
    background-color:#0077b5;
}
/*#####################################################################
######################### End Social Media  #######################
#######################################################################*/
/*#####################################################################
######################### Start Projects Table  #######################
#######################################################################*/
.projects-table {
    overflow-x: scroll;
    max-width: 100%;
    position: relative;
    height: 525px;
    max-height: auto;
    padding: 20px;
    box-shadow: none;
    margin: 10px;
}
table{
    border: 1px solid var(--f6-color);
    background-color: var(--white-color);
    border-spacing: 0;
    width: 1090px;
    position: absolute;
}
table td { 
border-top: 1px solid #eee;
border-left: 1px solid #eee;
padding: 10px 30px;
text-align: center;
}
table tr:hover {
    background-color: var(--f6-color);
}
table tbody td:last-child{
    border-right: 1px solid #eee;
}
table tbody tr:last-child td{
    border-bottom: 1px solid #eee;
}
.projects-table table thead td{
    background-color: var(--f6-color);
    padding: 20px 30px;
    border: none;
}
.projects-table table td>img {
    border-radius: 50%;
    width: 35px;
    border: 2px solid var(--white-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.projects-table table td>img:not(:first-of-type){
    margin-left: -20px;
}
.projects-table table td> a {
    background-color: var(--green-color);
    color: var(--white-color);
    font-size:small ;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.projects-table table tbody tr:nth-child(1) a {
    background-color:var(--orange-color);
}
.projects-table table tbody tr:nth-child(2) a {
    background-color:var(--blue-color);
}
.projects-table table tbody tr:nth-child(5) a {
    background-color:var(--red-color);
}
/*#####################################################################
######################### End Projects Table  #######################
#######################################################################*/